/*---------------------------------------------------------------
@Page accueil.html
@Section Header
---------------------------------------------------------------*/

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}
#intro {
    color: #777;
    background-color:white;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
}

#introTitle{
    text-align:center;
}

.bgimg-1, .bgimg-2, #snakeVideo, .bgimg-3, .bgimg-4 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bgimg-1 {
    background-image: url("../Images/Header.jpg");
    min-height: 400px;

}

#snakeVideo {
    min-height: 400px;
    min-width: 100%;
}

#gameTitle1 {
    background-color:transparent;
    font-size:25px;
    color: #f7f7f7;
}

#gameDesc1 {
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
}

#gameTitle2 {
    background-color:transparent;
    font-size:25px;
    color: #f7f7f7;
}

#gameDesc2 {
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
}
.bgimg-4 {
    background-image: url("../Images/SoumissionAssurance.png");
    min-height: 400px;
}

#soumissionAssuranceTitle {
    background-color:transparent;
    font-size:25px;
    color: #f7f7f7;
}

#soumissionAssuranceDesc{
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
}

.bgimg-5 {
    background-image: url("../Images/.png");
    min-height: 400px;
}

#foyerAnimalTitle {
    background-color:transparent;
    font-size:25px;
    color: #f7f7f7;
}

#foyerAnimalDesc{
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}


/*
div#header{
    background-image: url("../Images/website-header.png");
    background-repeat: no-repeat;
    background-size: auto;
    overflow: hidden;
    padding: 20px 10px;
}

div#header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

div#header a.logo {
    font-size: 25px;
    font-weight: bold;
}

div#header a:hover {
    background-color: #ddd;
    color: black;
}

div#header a.active {
    background-color: #bfbfbf;
    color: white;
}

.header-right {
    float: right;
}
*/
/*---------------------------------------------------------------

